@import "fontsAndColors.css";

* {
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column;
    gap: 25px;
    height: 100vh;
}

form{
    width: 70vw;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-row: 90% 10%;
    gap: 10px;
}


input[type="text"], textarea{
    font-size: 16px;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--color-blue5);
    height: 25px;
    padding-left: 5px;
}

fieldset{
    padding: 10px;
    gap: 25px;
    flex-wrap: wrap;
    border: 2px groove var(--color-blue4);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.infoBasic{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.adress{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

legend{
    color: var(--color-blue4    );
}

fieldset div{
    color: var(--color-blue5);
    display: flex;
    flex-flow: column;
    width: 100%;
}

#selectImg{
    font-size: 48px;
}

select{
    border: 0;
    border-bottom: 1px solid var(--color-blue5);
    margin-bottom: 10px;
    font-size: 16px;
}

.estilo-foto-perfil{
    flex-flow: row;
    align-items: center;
    gap: 10px;
}

label{
    font-size: 18px;
    margin-bottom: 10px;
}

#botCad{
    width: 30%;
    height: 30px;
    position: relative;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-blue3);
    color:white;
    border: none;
    font-size: 16px;
    box-shadow: 1px 1px 1px lightgrey;
    cursor: pointer;
    outline: none;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    justify-content: center;
}