@import url('https://fonts.cdnfonts.com/css/lemonmilk');

/* Esta classe é o body no html, que representa a tela inteira */
body {
    /* Tirando o padding e margin padrão que vem do html */
    padding: 0;
    margin: 0;

    /* Usando display flex para posicionar os elementos da tela */
    display: flex;

    /* Todos elementos ficarão alinhados com o centro da tela do usuario(align-items), além disso, eles serão dispostos um em baixo do outro(flex-direction) */
    align-items: center;
    flex-direction: column;

    /* Apenas definindo o tamanho da tela(body) para a tela toda, vh significa view-heigh, que é o tamanho vertical da tela do usuario, 100vh significa a tela inteira. Por padrão o widght já está na tela inteira */
    height: 100vh;
}

/* Definindo o tamanho da logo, que é uma img no html */
#logo {

    /* Height auto para a imagem manter a proporção */
    height: auto;

    /* Vw para ser responsivo */
    width: 8vw;
    margin: 40px;
}

/* Formatação da mensagem "Nós informe..." */
.msg_informeEmail {
    font-size: 18px;
    margin: 5px;
    font-family: Verdana, Geneva, Thoma, sans-serif;
    color: #397fbf;
}


/* Definindo posição é tamanho do formulario de recuperação, parecido com a configuração da tela, então não explicarei novamente */
.formulario_recuperacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 25vh;
}


/* Uma div que guarda o input */
.container_input {
    position: relative;
}


/* Formatando a caixa de texto(input) do formulario de recuperação(email) */
.caixa_texto input {
    width: 20vw;
    margin: 25px;
    border: 0;
    border-bottom: 1px solid #005db2;
    font-size: 22px;
    padding-left: 5px;
    outline: none;
    font-family: Verdana, Geneva, Thoma, sans-serif;
}


/* Usando pseudoclasse para fazer uma animação no meu placeholder ao selecionar um input */
.caixa_texto input:valid ~ span,
.caixa_texto input:focus ~ span{
    font-size: 16px;
    transform: translateY(-32px);
}


/* Meu placeholder personalizado, é um span no html */
.caixa_texto span{
    position: absolute;
    left: 0;
    margin: 25px;
    transition: .3s;
    padding-left: 5px;
    pointer-events: none;
    font-size: 22px;
    font-family: Verdana, Geneva, Thoma, sans-serif;
    color: gray;
}


/* Formatando o botão de envio do formulario */
input[type="submit"] {
    margin: 15px;
    width: 10vw;
    padding: 10px;
    border: 0;
    background-color: #397fbf;
    color: white;
    border-radius: 20px;
    box-shadow: 0.5px 1px 4px black;
    font-size: 18px;
    cursor: pointer;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}


/* Animação que eu criei para meu botão, basicamente uma animação que aumenta a escala, nada mais */
@keyframes animacao_botao {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
        margin: 15px;
    }
}

/* Usando pseudoclasse para executar a animação que eu criei quando meu mouse estiver em cima do botão */
input[type="submit"]:hover {
    animation-name: animacao_botao;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/* Container que guarda as labels registrar/entrar */
.registrar_entrar {
    margin-top: 30px;
}


/* Formatando as labels de esqueci minha senha e não tem uma conta? */
.registrar_entrar > a {
    font-size: 18px;
    margin: 15px;
    font-family: Verdana, Geneva, Thoma, sans-serif;
    color: #397fbf;
}


/* Está é a caixa que fica escrito o nome do nosso site, é uma div no html(é a caixa! Não o texto) */
.nome_site {

    /* Posicionando os elementos da div(nome do site) no centro dela */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Position e bottom é para manter a caixa sempre na parte de baixo da página */
    position: absolute;
    bottom: 0px;

    /* Largura responsiva */
    width: 100vw;
    height: 30vh;

    background-color: #397fbf;
}


/*  Este é o texto que fica na caixa */
.nome_site > p {
    font-size: 100px;
    margin: 0;
    color: white;
    font-family: 'Lemon/Milk', sans-serif;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}