@import "fontsAndColors.css";
/*design e posicionamento geral*/
    * {
        font-family: var(--font-inter);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--color-smoothWhite);
    }

    #search_content {
        display: grid;
        grid-template-columns: 0.35fr 1fr;
        grid-template-rows: 60px;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        width: 75%;
        gap: 20px;
    }
/*------------------*/

/*design e posicionamento do banner*/
    .banner-box img {
        width: 100%;
    }

    .banner-box {
        position: relative;
    }

    .banner-box a {
        position: absolute;
        left: 16%;
        top: 50%;
        font-size: 30px;
        color: var(--color-white);
        border: 5px solid var(--color-white);
        border-radius: 10px;
        padding: 5px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.4s;
    }

    .banner-box a:hover {
        transform: scale(1.2);
    }
/*------------------*/

/*design e posicionamento da barra de pesquisa*/
    #searchBar_content {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-self: flex-start;
        width: 100%;
        margin: 10px;
    }

    #searchBar_content input {
        display: flex;
        flex-direction: row;
        border: 2px solid;
        border-color: var(--color-blue5);
        width: 100%;
        outline: none;
        border-radius: 10px 0 0 10px;
        font-size: 18px;
        padding: 10px;
    }

    #searchButton {
        display: flex;
        align-items: center;
        background-color: var(--color-blue5);
        color: var(--color-white);
        padding: 0 10px 0 10px;
        cursor: pointer;
        transition: all 0.4s;
        border-top: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-color: var(--color-blue5);
        transition: all 0.4s;
        border-radius: 0 10px 10px 0;
    }

    #searchButton:hover {
        background-color: var(--color-white);
        color: var(--color-blue5);
    }

    #searchBar_content input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 20px;
        width: 15px;
        background-image: url(../img/index/cleanButton.svg);

    }

    #searchBar_content input::-webkit-search-cancel-button:hover {
        transform: scale(1.2);
        opacity: 0.8;
        transition: all 0.4s;
    }
/*------------------*/

/*design e posicionamento dos filtros*/
    #filter_content {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        margin: 0;
        height: fit-content;
        padding: 5px 5px 5px 0;
    }

    .connect-lines {
        display: flex;
        gap: 100px;
        justify-content: center;
    }

    .connect-line {
        height: 10px;
        width: 10px;
        background-color: var(--color-blue5);
        box-shadow: 1px 1px 5px var(--color-gray);
    }

    /*design e posicionamento do filtro por categoria*/
        .category-filter {
            background-color: var(--color-blue5);
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 5px var(--color-gray);
        }

        .category-title {
            font-family: var(--font-oswald);
            font-size: 25px;
            color: var(--color-white);
            margin: 15px 0 0 15px;
            text-decoration: underline;
        }

        .category-filter ul {
            list-style-type: none;
            padding: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
            column-gap: 5px;
        }

        .category-filter ul li {
            display: flex;
            gap: 20px;
        }

        .category-filter ul li i {
            display: flex;
            align-items: center;
            color: var(--color-white);
            height: 20px;
            width: 20px;
            font-size: 25px;
            transition: all 0.4s;
        }

        .category-filter ul li label {
            color: var(--color-white);
            font-family: var(--font-oswald);
            cursor: pointer;
            user-select: none;
            font-size: 18px;
            text-shadow: 1px 1px var(--color-black);
        }

        .category-filter ul li input {
            display: none !important;
        }

        .category-checked {
            color: var(--color-green) !important;
        }
    /*------------------*/

    /*design e posicionamento do filtro por nota*/
        .rating-filter {
            background-color: var(--color-blue5);
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 5px var(--color-gray);
        }

        .rating-title {
            font-family: var(--font-oswald);
            font-size: 25px;
            color: var(--color-white);
            margin: 15px 0 0 15px;
            text-decoration: underline;
        }

        .rating-filter ul {
            list-style-type: none;
            padding: 0;
            margin: 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .rating-filter input {
            display: none !important;
        }

        .rating-filter i {
            color: var(--color-white);
            cursor: pointer;
            font-size: 20px;
            transition: all 0.4s;
        }

        .rating-filter ul li label {
            color: var(--color-white);
            transition: all 0.4s;
            cursor: pointer;
            font-size: 20px;
        }

        .rating-filter input:checked + label {
            color: var(--color-yellow)
        }

        .rating-filter input:checked + label > i {
            color: var(--color-yellow)
        }
    /*------------------*/

    /*design e posicionamento do filtro por selo*/
        .seal-filter {
            background-color: var(--color-blue5);
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 5px var(--color-gray);
        }

        .seal-title {
            font-family: var(--font-oswald);
            font-size: 25px;
            color: var(--color-white);
            margin: 15px 0 0 15px;
            text-decoration: underline;
        }

        .seals {
            margin: 15px;
            display: flex;
            gap: 40px;
        }

        .seal-filter img {
            width: 70px;
            height: 70px;
            transition: all 0.4s;
            border: 1px solid var(--color-white);
            border-radius: 50%;
            cursor: pointer;
        }

        .seal-filter input {
            display: none !important;
        }

        .seal-filter input:checked + label img {
            transform: scale(1.2);
            border-color: var(--color-green)
        }
    /*------------------*/

    /*design e posicionamento do filtro por distancia*/
        .distance-filter {
            background-color: var(--color-blue5);
            border-radius: 0 5px 5px 0;
            display: flex;
            flex-direction: column;
            box-shadow: 1px 1px 5px var(--color-gray);
        }

        .distance-title {
            font-family: var(--font-oswald);
            font-size: 25px;
            color: var(--color-white);
            margin: 15px 0 0 15px;
            text-decoration: underline;
        }

        .distance-filter .input-box {
            margin: 15px;
            display: flex;
            gap: 20px;
        }

        .distance-filter .input-box input {
            font-size: 25px;
            border-radius: 5px;
            outline: none;
            border: var(--color-white);
            width: 70px;
            appearance: none;
        }
        
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            appearance: none;
        }

        .distance-filter .input-box label {
            font-family: var(--font-oswald);
            color: var(--color-white);
            font-size: 25px;
        }
    /*------------------*/

    /*botao limpar filtros*/
        .clean-filters {
            align-self: center;
            justify-self: center;
            background-color: var(--color-blue5);
            color: var(--color-white);
            border: solid 2px var(--color-blue5);
            width: fit-content;
            padding: 15px;
            text-align: center;
            border-radius: 30px;
            font-size: 20px;
            transition: all 0.4s;
            cursor: pointer;
            box-shadow: 1px 1px 5px var(--color-gray);
        }

        .clean-filters:hover {
            background-color: var(--color-white);
            color: var(--color-blue5);
            border-color: var(--color-blue5);
        }
    /*------------------*/
/*------------------*/

/*design e posicionamento dos card de perfil*/
    #stores_content {
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
        gap: 20px;
        padding: 10px;
    }
    .store-card {
        width: 100%;
        box-shadow: 1px 5px 10px var(--color-gray);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .store-card .store-photo {
        height: 150px;
        width: 230px;
        border-radius: 10px 0 0 10px;
    }

    .store-infos {
        width: 50%;
        padding: 5px;
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .location-infos {
        width: 30%;
    }

    .store-infos .store-category {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .store-infos .store-name {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .store-infos .store-rating {
        font-size: 14px;
        font-weight: bold;
        flex-grow: 1;
    }

    .store-infos .store-seal {
        justify-self: flex-end;
        height: 45px;
        width: 45px;
    }

    .location-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        margin: 10px;
        background-color: var(--color-blue0);
    }

    .location-infos .store-location {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }

    .location-infos .store-map-button {
        margin: 10px;
        background-color: var(--color-blue5);
        color: var(--color-white);
        border: solid 2px var(--color-blue5);
        padding: 5px;
        text-align: center;
        border-radius: 30px;
        font-size: 14px;
        transition: all 0.4s;
        cursor: pointer;
        box-shadow: 1px 1px 5px var(--color-gray);
        font-weight: bold;
    }

    .location-infos .store-map-button:hover {
        background-color: var(--color-smoothWhite);
        color: var(--color-blue5);
    }
/*------------------*/

/*responsividade*/
@media only screen and (max-width: 768px) {
    #search_content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #stores_content {
        height: 100%;
    }

    .banner-box img {
        display: none;
    }

    .banner-box a {
        display: none;
    }
}

@media only screen and (max-width: 290px) {

}
/*------------------*/