@import "fontsAndColors.css";
/*design e posicionamento geral*/
    * {
        font-family: var(--font-inter);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #search_content {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        align-items: flex-start;
        justify-content: center;
        align-self: flex-start;
        width: 80%;
        gap: 20px;
    }
/*------------------*/

/*design e posicionamento da barra de pesquisa*/
    #searchBar_content {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-self: flex-start;
        width: 80%;
        margin: 10px;
    }

    #search_content input {
        display: flex;
        flex-direction: row;
        border: 2px solid;
        border-color: var(--color-blue3);
        padding: 5px 10px 5px 10px;
        width: 100%;
        outline: none;
        border-radius: 10px 0 0 10px;
    }

    #searchButton {
        display: flex;
        align-items: center;
        background-color: var(--color-blue3);
        color: var(--color-white);
        padding: 0 10px 0 10px;
        cursor: pointer;
        transition: all 0.4s;
        border-top: 2px solid;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-color: var(--color-blue3);
        transition: all 0.4s;
        border-radius: 0 10px 10px 0;
    }

    #searchButton:hover {
        background-color: var(--color-white);
        color: var(--color-blue3);
    }

    #searchBar_content input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        height: 20px;
        width: 15px;
        background-image: url(../img/index/cleanButton.svg);

    }

    #searchBar_content input::-webkit-search-cancel-button:hover {
        transform: scale(1.2);
        opacity: 0.8;
        transition: all 0.4s;
    }
/*------------------*/

/*design e posicionamento dos filtros*/
    #filter_content {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        background: var(--color-blue5);
        box-shadow: 2px 2px 5px var(--color-blue5);
        border-radius: 0 0 5px 0;
        margin: 0;
        padding: 5px;
        height: 70%;
    }

    /*design e posicionamento do filtro por categoria*/
        .category-title {
            align-self: center;
            color: var(--color-white);
            font-weight: bold;
        }

        .category-filter {
            margin: 10px;
            border: 1px solid var(--color-white);
            border-radius: 5px;
        }

        .category-filter ul {
            list-style-type: none;
            padding: 5px;
            margin: 0;
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .category-filter ul li {
            margin: 5px;
            border: 1px solid var(--color-white);
            border-radius: 10px;
            color: var(--color-white);
            background-color: var(--color-blue3);
            cursor: pointer;
            transition: all 0.4s;
            padding: 3px;
        }

        .category-filter ul li label {
            cursor: pointer;
            user-select: none;
        }

        .category-filter ul li input {
            display: none !important;
        }

        .category-checked {
            background-color: var(--color-blue5) !important;
            border-color: var(--color-yellow) !important;
            color: var(--color-white) !important;
        }
    /*------------------*/

    /*design e posicionamento do filtro por nota*/
        .rating-title {
            color: var(--color-white);
            align-self: center;
            font-weight: bold;
        }

        .rating-filter {
            margin: 10px;
            width: fit-content;
            align-self: center;
        }

        .rating-filter ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .rating-filter input {
            display: none !important;
        }

        .rating-filter i {
            color: var(--color-smoothWhite);
            cursor: pointer;
        }

        .rating-filter label {
            color: var(--color-smoothWhite);
            transition: all 0.4s;
            cursor: pointer;
        }

        .rating-filter input:checked + label {
            font-weight: bold;
            color: var(--color-yellow)
        }

        .rating-filter input:checked + label > i {
            color: var(--color-yellow)
        }
    /*------------------*/

    /*design e posicionamento do filtro por selo*/
    .seal-title {
        color: var(--color-white);
        align-self: center;
        font-weight: bold;
    }

    .seal-filter img {
        width: 50px;
        height: 50px;
        margin: 5px;
        transition: all 0.4s;
        border: 1px solid var(--color-white);
        border-radius: 50%;
        cursor: pointer;
    }

    .seal-filter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 10px;
        align-self: center;
    }

    .seal-filter input {
        display: none !important;
    }

    .seal-filter input:checked + label img {
        transform: scale(1.2);
        border-color: var(--color-yellow)
    }
    /*------------------*/

    /*design e posicionamento do filtro por distancia*/
    .distance-title {
        color: var(--color-white);
        align-self: center;
        font-weight: bold;
    }

    .distance-filter {
        background-color: var(--color-white);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        border-radius: 40px;
        border: 1px solid var(--color-blue3);
        height: 30px;
        box-shadow: 10px 10px 5px var(--color-blue5);
    }

    .distance-filter input {
        padding: 0 !important;
        margin: 5px;
        width: 80% !important;
    }

    .distance-filter span {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 20%;
        color: var(--color-white);
        background-color: var(--color-blue3);
        border-radius: 0 40px 40px 0;
        height: 30px;
    }
    /*------------------*/

    /*botao limpar filtros*/
    .clean-filters {
        align-self: center;
        background-color: var(--color-blue5);
        color: var(--color-white);
        border: solid 2px var(--color-white);
        width: 9rem;
        padding: 5px;
        text-align: center;
        border-radius: 30px;
        font-size: 0.9rem;
        transition: all 0.4s;
        cursor: pointer;
    }

    .clean-filters:hover {
        background-color: var(--color-white);
        color: var(--color-blue5);
        border-color: var(--color-blue5);
    }
    /*------------------*/
/*------------------*/

/*design e posicionamento dos card de perfil*/
    #stores_content {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        justify-content: flex-start;
        gap: 20px;
        overflow-y: scroll;
    }

    .store-card {
        width: 45%;
        height: fit-content;
        border: 1px solid var(--color-blue3);
        display: flex;
        flex-direction: row;
    }

    .store-card .store-photo {
        height: 150px;
        width: 150px;
        border-right: 1px solid var(--color-blue3);
    }

    .store-infos {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }

    .store-infos .store-distance {
        color: var(--color-gray);
        font-size: 14px;
    }

    .store-header {
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .store-header .store-name {
        font-weight: bold;
    }

    .store-header .store-rating {
        text-decoration: none;
        color: var(--color-black);
        display: flex;
        align-items: center;
        justify-content: baseline;
    }

    .store-header .store-rating i {
        color: var(--color-blue5);
        font-size: 15px;
    }

    .store-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        flex-grow: 1;
    }

    .store-footer .endereco {
        justify-self: flex-end;
        color: var(--color-gray);
    }
/*------------------*/