@import url('https://fonts.cdnfonts.com/css/lemonmilk');

.fundo {
  background-color: #d0e4fc;
}

/*tamanho máximo de 80px*/
.mw {
  max-width: 80px;
}

/*alinha o texto da taba, coloca espaçamento interno, tira a margem de baixo e faz com que o cursor muda o formato quando em cima*/
.taba {
  text-align: center;
  padding: 0px 16px;
  cursor: pointer;
  margin-bottom: 0px;
}

/*faz com que as tabas mudem de cor quando o cursor passar por cima*/
#tabas :hover {
  background-color: #9acff8;
}

/*cor da taba de avaliação*/
#tavaliacoes {
  border-bottom: 3px solid #397FBF;
}

/*deixa a cor da taba de visita invisível a principio*/
#visitas {
  display: none;
}

.comentario {
  max-height: 150px;
  overflow: hidden;
}