* {
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    color: var(--color-white);
}

#header_content {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem;
}

#header_name a {
    display: flex;
    gap: 0.5rem;
}

#header_name img {
    width: 3rem;
    height: 3rem;
}

#header_name h1 {
    font-family: var(--font-lemonmilk);
    color: var(--color-blue3);
}

.header-link {
    text-decoration: none;
}

.header-btnRegister {
    text-decoration: none;
}

.header-btnLogin {
    text-decoration: none;
}

#header_name a {
    text-decoration: none;
}

#header_options {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#header_options .header-link {
    color: var(--color-gray);
    transition: all 0.4s;
}

#header_options .header-link:hover {
    color: var(--color-blue1);
}

#header_options .header-btnRegister {
    background-color: var(--color-blue2);
    color: var(--color-white);
    border: solid 2px;
    border-color: var(--color-blue2);
    width: 9rem;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    text-align: center;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.4s;
}

#header_options .header-btnRegister:hover {
    background-color: var(--color-white);
    color: var(--color-blue2);
}

#header_options .header-btnLogin {
    background-color: var(--color-white);
    color: var(--color-blue2);
    border: solid 2px;
    border-color: var(--color-blue2);
    width: 9rem;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    text-align: center;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all 0.4s;
}

#header_options .header-btnLogin:hover {
    background-color: var(--color-blue2);
    color: var(--color-white);
}

#header_options .header-iconLink {
    font-size: 2.5rem;
    color: var(--color-blue2);
    transition: all 0.4s;
}

#header_options .header-iconLink:hover {
    opacity: 0.8;
}