/*tamanho da imagem do estabelecimento do card*/
.img-size {
    width: 100px;
    height: 100px;
}

/*tirando os números da lista(1. 2. 3.)*/
ol,
li {
    list-style-type: none;
    padding-left: 0;
}

/*uma de nossas cores*/
.blue {
    color: #00427f;
}

/*uma de nossas cores*/
.blue-border {
    border-color: #00427f !important;
}

/*tirando a shadow da barra de pesquisa*/
.form-control {
    box-shadow: none !important;
}