/*importando a fonte lemonmilk*/
@import url('https://fonts.cdnfonts.com/css/lemonmilk');

/*definindo a formatacao padrao dos elementos*/
*{  
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


/*classe que faz o menu crescer quando ativado*/
.menuSelecionado{
    width: 100%;
}


/*estiliza e posiona o menu lateral onde fica a barra de pesquisa*/
#menuLateral{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: visible;
    z-index: 9997;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    width: 20vw !important;
    display: flex !important;
}

/*container para posicionar a barra de pesquisa*/
#containerPesquisa{
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.3s ease-in-out;
}

/*classe que faz a barra de pesquisa ficar visivel*/
.menuLateralAcionado{
    min-width: 20vw !important;
    width: 20vw !important;
    display: flex !important;
}


/*seta do menu de pesquisa*/
#setaMenuLateral{
    color: #00427F;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

#sugestoes{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    display: none;
}

#sugestoes div{
    padding: 5px;
    cursor: pointer;
}

#sugestoes div:hover{
    background-color: grey;
}

/*classe do campo de pesquisa*/
#inpPesquisa{
    height: 40px;
    width: 100%;
    display: block;
    padding-left: 5px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #00427F;
    font-size: 16px;
}

/*place holder do campo de pesquisa*/
#inpPesquisa::placeholder{
    font-size: 18px;
}

#perfilEstabelecimento{
    width: 800px;
    height: 800px;
    background-color: white;
    z-index: 10;
    display: none;
    margin-top: 10px;
    border-radius: 10px;
}

/*definindo o mapa como o elemento mais atras nas camadas*/
#mapa{
    z-index: -1;
    position: absolute;
}


.imgPerfilEstabelecimento{
    width: 100%;
    height: 200px;
}

#containerNomeEstabelecimento{
    display: flex;
    flex-flow: row;
}


@media only screen and (max-width: 450px) {
    .menuConfig{
        display: none;
    }
    .opConfigNav{
        border: 0 !important; 
        color: #397FBF; 
        display: block;
    }
    
    #inpPesquisa{
        height: 40px;
        width: calc(100vw - 110px);
        display: block;
        padding-left: 5px;
        outline: 0;
        border-radius: 10px;
        border: 1px solid #00427F;
        font-size: 16px;
    }


    #setaMenuLateral{
        display: none;
    }
}