 /*importando a fonte lemonmilk*/
@import url('https://fonts.cdnfonts.com/css/lemonmilk');

/*definindo a formatacao padrao dos elementos*/
*{  
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.desaparecer{
    display: none;
}


/*classe que faz o menu crescer quando ativado*/
.menuSelecionado{
    width: 100%;
}


/*estiliza e posiona o menu lateral onde fica a barra de pesquisa*/
#menuLateral{
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: visible;
    z-index: 9997;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    display: flex !important;
    min-width: 450px !important;
    width: 30vw !important;
}

/*container para posicionar a barra de pesquisa*/
#containerPesquisa{
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.3s ease-in-out;
}

/* estilos do container onde as sugestoes de pesquisa */
#sugestoes{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    display: none;
}

/* adiciona padding e cursor de pointer para divs dentro do container de sugestoes */
#sugestoes div{
    padding: 5px;
    cursor: pointer;
}

/* muda a cor de fundo das divs que estao dentro do container de sugestoes quando o mouse esta em cima */
#sugestoes div:hover{
    background-color: grey;
}

/*classe do campo de pesquisa*/
#inpPesquisa{
    height: 40px;
    width: 100%;
    display: block;
    padding-left: 5px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #00427F;
    font-size: 16px;
}

/*place holder do campo de pesquisa*/
#inpPesquisa::placeholder{
    font-size: 18px;
}

/*definindo o mapa como o elemento mais atras nas camadas*/
#mapa{
    z-index: -1;
    position: absolute;
}

/* muda os estilos para telas menores que 470px */
@media only screen and (max-width: 470px) {
    .menuConfig{
        display: none;
    }
    .opConfigNav{
        border: 0 !important; 
        color: #397FBF; 
        display: block;
    }
    
    #inpPesquisa{
        height: 40px;
        width: calc(100vw - 50px) !important;
        display: block;
        padding-left: 5px;
        outline: 0;
        border-radius: 10px;
        border: 1px solid #00427F;
        font-size: 16px;
    }

    #menuLateral{
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow: visible;
        z-index: 9997;
        position: absolute;
        display: flex !important;
        width:calc(100vw - 50px) !important;
        min-width: calc(100vw - 50px) !important;
        margin-top: 10px;
        margin-left: 0;
        padding: 0 10px
}

#containerPesquisa{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: width 0.3s ease-in-out;
}



    #setaMenuLateral{
        display: none;
    }
}