.lpo {
      margin-top: -25px;
      min-width: 100px;
      max-width: 160px;
      aspect-ratio: 1/1;
    }
    
    .taba{
      text-align: center;
      padding:0px 16px;
      cursor: pointer;
      margin-bottom: 0px;
    }

    #beto :hover{
    background-color: #9acff8;
    }

    #tavaliacoes {
      border-bottom: 3px solid #397FBF;
    }

    #visitas {
      display: none;
    }

    @media (max-width: 575px) {
      .lpo {
        margin-left: auto;
        margin-right: auto;
        min-width: 75px;
        height: auto;
        width: 50%;
      }      
    }