footer{
    background-color: #4DA9FF;
}

.texto-footer{
    color: #00427F;
}

.topico-footer{
    font-size: 20px;
}

.logo-footer{
    height: 100px;
    width: 100px;
}


.rd-social-logo{
    width: 40px;
    height: 40px;
}
